
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: peachpuff ;
}
.heading{
  padding: 30px 0px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 500;
  color: darkmagenta;
  background-color: cornflowerblue;
  margin-bottom: 30px;
  border: 1px solid black;
}
.cards{
  width: 100%;
  height: auto;
  border: 1px solid black;
}
.card{
  border: 1px solid black;
  margin: 6%;
  width: 21.25%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0,1);
  border-radius: 12px;
  background-color: skyblue;
  box-shadow: 0px 13px 10px -7px rgba(0,0,0,1);
  float: left;

}
.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
  transform:scale(1.05,1.05);
}
.cardimg{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius:12px ;
}
.cardinfo{
  background-color:skyblue;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius:12px;
  padding: 16px 24px 24px 24px;
}
.cardcatg{
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: blue;
  background-color:skyblue;
}
.cardtitle{
  margin-top: 5px;
  margin-bottom: 10px ;
  font-family: 'Times New Roman', Times, serif;
  background-color: skyblue;
  text-transform: uppercase;
}
button{
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 500;
  color: lightcyan;
  background-color: teal;
  outline: none;
  border: 2px solid black; 
  cursor: pointer;
}
@media (max-width:768px){
  .card{
    float: none;
    margin: 5%;
    width: 90%;
  }
}


